@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*, *::after, *::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
}

header, footer {
 background-color: #1F2937;
 padding: 0 5rem 2.5rem;
}

header {
 color: #E5E7EB;
}

header .navbar {
 display: flex;
 justify-content: space-between;
}

header .navbar .logo {
 color: #F9FAF8;
 font-size: 1.5rem;
 text-decoration: none;
}

header .navbar nav {
 color: #E5E7EB;
 font-size: 1.125rem;
}

header .navbar nav ul {
 display: flex;
 justify-content: space-between;
 gap: 1.5rem;
}

header .navbar nav ul li {
 list-style: none;
}

header .hero {
 display: flex;
 margin: 4rem 0;
 /* flex-grow: 0;
 flex-shrink: 1;
 flex-basis: 400px; */
}

header .hero .description {
 display: flex;
 align-self: center;
 flex-direction: column;
 gap: 1rem;
 flex: auto;
 width: 40%;
}

header .hero .description h1 {
 color: #F9FAF8;
 font-size: 3rem;
 line-height: 0.9;
}

header .hero .description p {
 color: #E5E7EB;
 font-size: 1.125rem;
}

header .hero .description .sign_up {
 color: #E5E7EB;
 /* font-size: 1.125rem; */
 background-color: #3882F6;
 text-decoration: none;
 padding: 0.25rem 1.25rem;
 border-radius: 5px;
}

header .hero .image_placeholder {
 background-color: #3f4c5e;
 flex: auto;
 width: 45%;
 display: flex;
}

header .hero .image_placeholder p {
 margin: auto;
}

main {
 padding: 0 7rem;
}

main .random {
 margin: 2rem auto 4rem;
}

main .random h2 {
 font-size: 2.25rem;
 text-align: center;
}

main .random .articles {
 display: flex;
 justify-content: space-around;
 margin: 2rem;
}

main .random .articles article {
 width: 7.5rem;
}

main .random .articles article .box {
 border: 3.5px solid #3882F6;
 /* width: 7.5rem; */
 height: 7.5rem;
 border-radius: 7.5px;
}

main .random .articles article .text {
 /* width: 7.5rem; */
 text-align: center;
}

.quote {
 background-color: #E5E7EB;
 color: #1F2937;
 display: block;
 /* padding: 4rem 1rem 3.5rem; */
 padding: 4rem 1rem 3.5rem;
 margin: auto -7rem;
}

.quote blockquote figure {
 margin: auto 10rem;
}

.quote blockquote {
 margin: auto 10rem;
}

.quote figcaption {
 text-align: right;
 margin: auto 10rem;
}

.cta {
 background-color: #3882F6;
 color: #E5E7EB;
 padding: 1.75rem 4rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-radius: 5px;
 margin: 3.5rem auto;
}

.cta article {
 flex: 0 0 70%;
}

.cta article .heading {
 font-weight: 700;
}

.cta article .body {

}

.cta p {
 flex: 0 0 30%;
}

.cta a {
 text-decoration: none;
 color: #F9FAF8;
 border: 2px solid #F9FAF8;
 border-radius: 5px;
 padding: 0.15rem 1.5rem;
}

footer {
 color: #F9FAF8;
 text-align: center;
 padding: 1.5rem;
}
